body  {
  background-size: 200px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}
.darktheme  {
  background-image: url(../img/tiledark.png);
  color: white;
  text-shadow: 2px 2px 4px black;
}
.lighttheme {
  background-image: url(../img/tilelight.png);
  color: black;
  text-shadow: 2px 2px 8px black;
}
h1  {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  font-size: 50px;
}
.well {
  border: solid 1px;
  border-radius: 14px;
  padding: 0px;
}
.darktheme .well {
  background-color: rgba(0, 0, 0, .75);
  border-color: white;
}
.lighttheme .well {
  background-color: rgba(255, 255, 255, .75);
  border-color: black;
}
.lightcard  {
  display: none;
}
button  {
  margin: 10px;
  border-radius: 4px;
  border: solid 1px;
}
#lightbutton  {
  color: black;
  background-color: white;
  border-color: black;
}
#darkbutton {
  color: white;
  background-color: black;
  border-color: white;
}
.cardtext {
  border: solid 10px;
  border-radius: 5px;
  border-bottom: 0px;
  font-size: 150%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lighttheme .cardtext {
  background-color: rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0);
}
.darktheme .cardtext  {
  background-color: rgba(0, 0, 0, 0.75);
  border-color: rgba(0, 0, 0, 0);

}
.cardtext:hover  {
  color: grey;
}
#firstanswer  {
  display: none;
}
#secondanswer  {
  display: none;
}
#thirdanswer  {
  display: none;
}
#fourthanswer  {
  display: none;
}
#fifthanswer  {
  display: none;
}
#sixthanswer  {
  display: none;
}
#seventhanswer  {
  display: none;
}
#eighthanswer  {
  display: none;
}
@media screen and (max-width: 992px) {
    .cardtext {
      font-size: 100%;
    }
}
@media screen and (max-width: 768px) {
    .cardtext {
      font-size: 350%;
    }
}
@media screen and (max-width: 576px) {
    .cardtext {
      font-size: 200%;
    }
}
@media screen and (max-width: 376px) {
    .cardtext {
      font-size: 150%;
    }
}
